{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}Page 1{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Highest Magnitude Earthquakes</h1>
	<h2>Pick a location</h2>
	<form action="/showFact">
        <select name="state"> <!-- add onchange="this.form.submit()" to submit/update the form when an option is selected.  Usefull for then displaying county options. -->
			{{ location_options }}
        </select>
        <br><br>
        <input type="submit" value="Get Eathquake Information!">
    </form>
	<p>{{ info }}</p>
{% endblock %}
